<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&display=swap" rel="stylesheet">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=fd973084-875f-44a7-bc4e-563678bfeae2&lang=ru_RU" type="text/javascript">
  </script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div id="map" style="width: 600px; height: 400px"></div>

</body>
</html>
