<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div class="wrapper">
  <div class="chat hidden">
    <div class="chat__sidebar sidebar">
      <div class="sidebar__container container">
        <div class="sidebar__options">
          <button class="sidebar__user-settings">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 459 459">
              <path d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z"/>
            </svg>
          </button>
          <label class="sidebar__search-label">
            <input type="text"
                   class="sidebar__search"
                   placeholder="Найти...">
          </label>
        </div>
        <ul class="sidebar__members members">

        </ul>
      </div>

    </div>
    <div class="chat__main">
      <header class="chat__header">
        <div class="container">
          <h1 class="chat__title">
            Чат
          </h1>
          <div class="chat__info">
            <span id="members-count-online">0</span> online из <span
              id="members-count-all">0</span> участников
          </div>
        </div>
      </header>
      <div class="chat__messages messages">
        <ul class="messages__box">

        </ul>
      </div>
      <form class="chat__new-message new-message"
            name="new-message">
        <div class="new-message__container container">
          <label class="new-message__field-wr">
          <textarea
              class="new-message__field"
              rows="1"
              placeholder="Введите сообщение..."></textarea>
          </label>
          <button
              class="new-message__btn"
              type="submit">Отправить
          </button>
        </div>
      </form>
      <div class="chat__login">
        <a href="#" class="chat__login-link">
          Авторизуйтесь для того, чтобы оставить сообщение
        </a>
      </div>
    </div>
  </div>
  <div class="login">
    <div class="login__wrapper">
      <button type="button"
              class="login__close">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 47.971 47.971">
          <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
		c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
		C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
		s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
        </svg>
      </button>
      <div class="login__container container">
        <div class="login__logo"></div>
        <header class="login__header">
          Авторизация
        </header>
        <div class="login__desc">
          Введите пожалуйста своё фио и ник для дальнейшей авторизации
        </div>
        <form class="login__form"
              name="login">
          <div class="login__form-row">
            <div class="login__form-el">
              <label class="login__form-input-wr">
                <input class="login__form-input"
                       id="name"
                       name="name"
                       type="text"
                       placeholder="Введите свое имя"
                       required
                       autocomplete="false">
              </label>
              <div class="login__form-error hidden"></div>
            </div>
          </div>
          <div class="login__form-row mb">
            <div class="login__form-el">
              <label class="login__form-input-wr">
                <input class="login__form-input"
                       id="nick"
                       name="nick"
                       type="text"
                       placeholder="Введите свой ник"
                       required
                       autocomplete="false">
              </label>
              <div class="login__form-error hidden"></div>
            </div>
          </div>
          <div class="login__form-row">
            <button type="submit"
                    class="login__form-btn">
              ВОЙТИ
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
