<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&display=swap" rel="stylesheet">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=fd973084-875f-44a7-bc4e-563678bfeae2&lang=ru_RU" type="text/javascript">
  </script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div class="wrapper">
  <div id="map" class="map"></div>
  <div id="review-block"></div>
  <img class="logo" src="img/logo.png" alt="logo">
</div>

</body>
</html>
