<li class="review__item">
  <div class="review__row">
    <div class="review__author review__content">{{author}}</div>
    <div class="review__place review__content">{{place}}</div>
    <div class="review__date review__content">{{time.short}}</div>
  </div>
  <div class="review__row">
    <div class="review__text review__content">{{text}}</div>
  </div>
</li>
